.navBar{
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 0px  2rem;
    justify-content: space-between;

}


.navBar .brandTitle a {
    font-size: 1.5rem;
    font-weight: 700;
    color: #393E46;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
.navBar .link a{
    font-size: 1rem;
    font-weight: 500;
    color: #393E46;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    padding: 0px .5rem;
}